<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>board</title>
</head>
<body>

<div layout:fragment="content" class="board-ar">

    <th:block th:replace="~{view/board/board-menu :: board-menu}"></th:block>
    <div class="board-content-ar">
        <th:block th:replace="~{view/board/board-list :: board-list}"></th:block>
        <th:block th:replace="~{view/board/board-detail :: board-detail}"></th:block>
        <th:block th:replace="~{view/board/board-form :: board-form}"></th:block>
    </div>

    <!-- 작성 버튼 -->
    <button onclick="hideDetail()">작성</button>
    <!-- 보기 버튼 -->
    <button onclick="hideForm()">조회</button>

</div>
</body>
</html>
