<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="board-list" class="board-list-ar">


    <form class="board-list-form-box" action="/board/list">
        <input type="hidden" name="boardType" th:value="${board.boardType}">
        <select name="searchType" th:field="${page.searchType}">
            <option value="title">title</option>
            <option value="content">content</option>
            <option value="user_id">poster</option>
        </select>
        <input type="text" name="search" th:field="${page.search}">
        <button type="submit">검색</button>
    </form>
    <div class="board-list">
        <table>
            <thead>
            <tr>
                <th scope="col">num</th>
                <th scope="col">title</th>
                <th scope="col">post-date</th>
                <th scope="col">likes</th>
                <th scope="col">comments</th>
                <th scope="col">poster</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="boardData : ${boardList}" class="board-detail-row" th:data-id="${boardData.id}">
                    <td th:text="${boardData.id}"></td>
                    <td th:text="${boardData.title}"></td>
                    <td th:text="${boardData.createdAt}"></td>
                    <td th:text="${boardData.likes}"></td>
                    <td>0</td>
                    <td th:text="${boardData.userId}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/board/list(page=1, boardType=${page.boardType}, search=${page.search})}"><<</a>
    <a th:href="@{/board/list(page=${page.page - 1}, boardType=${page.boardType}, search=${page.search})}"><</a>


    <span th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
        <a th:href="@{/board/list(page=${i}, boardType=${page.boardType}, search=${page.search})}" th:text="${i}"></a>
    </span>

    <a th:href="@{/board/list(page=${page.page + 1}, boardType=${page.boardType}, search=${page.search})}">></a>
    <a th:href="@{/board/list(page=${page.totalPage}, boardType=${page.boardType}, search=${page.search})}">>></a>
    <!-- 작성 버튼 -->
    <button onclick="hideDetail()">작성</button>
    <!-- 보기 버튼 -->
    <!--<button onclick="hideForm()">조회</button>-->
</section>
</html>