<html xmlns:th="http://www.thymeleaf.org">
<form th:fragment="board-form" class="board-form-ar">

    <div class="board-form-ar1">
        <label for="board-title">title:</label>
        <input type="text" id="board-title"/>

        <label for="board-poster">poster:</label>
        <input type="text" id="board-poster"/>

    </div>
    <div class="board-form-ar2">
            <textarea class="board-content"></textarea>

    </div>
    <div class="board-form-ar3">
        <label for="board-poster-password">password:</label>
        <input type="text" id="board-poster-password"/>
        <button type="submit">저장</button>
    </div>

</form>
</html>