<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="board-list" class="board-list-ar">


    <div class="board-list-form-box">
        검색폼 div
    </div>
    <div class="board-list">
        <table>
            <thead>
            <tr>
                <th scope="col">num</th>
                <th scope="col">title</th>
                <th scope="col">post-date</th>
                <th scope="col">likes</th>
                <th scope="col">comments</th>
                <th scope="col">poster</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>생체 2급 3번 질문</td>
                    <td>2024-08-21</td>
                    <td>4</td>
                    <td>3</td>
                    <td>글쓴이</td>
                </tr>

            </tbody>
        </table>
    </div>
</section>
</html>