<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="board-detail" class="board-detail-ar">

    <div class="board-detail-ar1">
        <div class="board-detail-title">
            제목 : title
        </div>
        <div class="board-detail-poster">
            글쓴이 : poster
        </div>
    </div>
    <div class="board-detail-ar2">
        <div class="board-detail-content"></div>

    </div>
    <div class="board-detail-ar3">
        <button type="submit">저장</button>
    </div>

</section>
</html>