<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="board-detail" class="board-detail-ar" id="board-detail">

    <div class="board-detail-ar1">
        <div class="board-detail-title" id="board-detail-title">

        </div>
        <div class="board-detail-poster" id="board-detail-poster">

        </div>
        <button type="submit" class="board-edit-btn">수정</button>
    </div>
    <div class="board-detail-ar2">
        <div class="board-detail-content" id="board-detail-content"></div>

    </div>
    <div class="board-detail-ar3">

    </div>

</section>
</html>