<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar-ar">


    <div class="navbar-l">
        <a href="#" class="navbar-text">로고</a>
    </div>

    <div class="navbar-c">
        <a href="#" class="navbar-text">공지</a>
        <a class="navbar-bar">|</a>
        <a href="#" class="navbar-text">문의</a>
        <a class="navbar-bar">|</a>
        <a href="#" class="navbar-text">게시판</a>
    </div>

    <div class="navbar-r">
        <a href="#" class="navbar-text">검색폼</a>
    </div>



</nav>
</html>
