<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="header" class="header-area">

    <div class="container-fluid header-content">
        <div class="d-flex align-items-center">
            <!-- 좌측 -->
            <a class="nav-link me-2 header-text" href="#">values</a>
            <a class="nav-link me-2 header-text-bar">|</a>
            <a class="nav-link me-2 header-text" href="#">career</a>
            <a class="nav-link me-2 header-text-bar">|</a>
            <a class="nav-link me-2 header-text" href="#">contact</a>

            <!-- 우측 -->
            <div class="ms-auto d-flex align-items-center">
                <a class="nav-link me-2 header-text" href="#">our story</a>
                <a class="nav-link me-2 header-text-bar">|</a>
                <a class="nav-link me-2 header-text" href="#">history</a>
            </div>
        </div>
    </div>

</section>
</html>