<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- 공통 css -->
    <link rel="stylesheet" th:href="@{/css/layout-css/common.css}"><!--레이아웃 공통-->
    <link rel="stylesheet" th:href="@{/css/layout-css/header.css}"><!--헤더-->
    <link rel="stylesheet" th:href="@{/css/layout-css/navbar.css}"><!--네비-->
    <link rel="stylesheet" th:href="@{/css/layout-css/footer.css}"><!--푸터-->
    <!-- 공통 css -->

    <!-- main 화면 css -->
    <link rel="stylesheet" th:href="@{/css/view-css/main/content-area-1.css}"><!--컨텐츠1-->
    <link rel="stylesheet" th:href="@{/css/view-css/main/content-area-2.css}"><!--컨텐츠2-->
    <link rel="stylesheet" th:href="@{/css/view-css/main/content-area-3.css}"><!--컨텐츠3-->
    <link rel="stylesheet" th:href="@{/css/view-css/main/content-area-4.css}"><!--컨텐츠4-->
    <link rel="stylesheet" th:href="@{/css/view-css/main/content-area-5.css}"><!--컨텐츠5-->
    <!-- 메인 화면 css -->

    <!-- test-list css -->
    <link rel="stylesheet" th:href="@{/css/view-css/test/test-list.css}"><!--컨텐츠5-->
    <!-- test-list css -->
<style>

</style>
</head>
<body>


    <!--헤더-->
    <th:block th:replace="~{layout/header :: header}"></th:block>

    <!-- 네비 -->
    <th:block th:replace="~{layout/navbar :: navbar}"></th:block>

    <!-- 컨텐츠 -->
    <div layout:fragment="content">

    </div>

    <!--푸터-->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>






<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/view-js/main/content-area-5.js}"></script>
</body>
</html>