<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/layout-css/common.css}"><!--레이아웃 공통-->
    <link rel="stylesheet" th:href="@{/css/layout-css/header.css}"><!--헤더-->
    <link rel="stylesheet" th:href="@{/css/layout-css/navbar.css}"><!--네비-->
<style>

</style>
</head>
<body>


    <!--헤더-->
    <th:block th:replace="~{layout/header :: header}"></th:block>


<section class="safe-area">
    <!-- 네비 -->
    <th:block th:replace="~{layout/navbar :: navbar}"></th:block>

    <!-- 컨텐츠 -->
    <th:block layout:fragment="content"></th:block>

    <!--푸터-->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>
</section>






<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>