<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- 공통 css -->
    <link rel="stylesheet" th:href="@{/css/layout/common.css}"><!--레이아웃 공통-->
    <link rel="stylesheet" th:href="@{/css/layout/header.css}"><!--헤더-->
    <link rel="stylesheet" th:href="@{/css/layout/navbar.css}"><!--네비-->
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}"><!--푸터-->
    <!-- 공통 css -->

    <!-- main 화면 css -->
    <link rel="stylesheet" th:href="@{/css/view/main/main.css}"><!--시험 목록-->
    <!-- 메인 화면 css -->

<style>

</style>
</head>
<body>


    <!--헤더-->
    <th:block th:replace="~{layout/header :: header}"></th:block>

    <!-- 네비 -->
    <th:block th:replace="~{layout/navbar :: navbar}"></th:block>

    <!-- 컨텐츠 -->
    <div layout:fragment="content">

    </div>

    <!--푸터-->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>






<script th:src="@{/js/view/main/main.js}"></script>
</body>
</html>