<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar-ar">


    <div class="navbar-l">
        <a href="#" class="navbar-text">로고</a>
    </div>

    <div class="navbar-c">
        <a href="#" class="navbar-text">공지</a>
        <a class="navbar-bar">|</a>
        <a href="#" class="navbar-text">문의</a>
        <a class="navbar-bar">|</a>
        <a href="/board/list?boardType=free" class="navbar-text">게시판</a>
    </div>

    <div class="navbar-r">
        <!-- 검색폼 -->
        <form class="">
            <input type="search" placeholder="Search">
            <button type="submit">검색</button>
        </form>
    </div>



</nav>
</html>
