.board-ar{
    padding-top: 20px;
    width: 100%;
    height: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.board-content-ar{
    width: calc(80% + 15px);
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* 서브 메뉴 *//* 서브 메뉴 *//* 서브 메뉴 *//* 서브 메뉴 *//* 서브 메뉴 */
.board-menu-ar{
    height: 70px;
    width: 700px;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.board-menu-element-ar{
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid #000;
}
.board-menu-title{
    margin-right: 50px;
    height: 100%;
    width: 150px;
    background-color: green;
    color: #ffffff;
}
.board-menu-element{
    margin-left: 30px;
    margin-right: 30px;
    background-color: blue;
    height: 100%;
    width: 150px;
}

/* 서브 메뉴 *//* 서브 메뉴 *//* 서브 메뉴 *//* 서브 메뉴 *//* 서브 메뉴 */

/* 검색 *//* 검색 *//* 검색 *//* 검색 *//* 검색 *//* 검색 *//* 검색 *//* 검색 */
.board-list-form-box{
    width: 100%;
    height: 55px;
    border: 1px solid #000;
}
/* 검색 *//* 검색 *//* 검색 *//* 검색 *//* 검색 *//* 검색 *//* 검색 *//* 검색 */

/* list *//* list *//* list *//* list *//* list *//* list *//* list *//* list */
.board-list-ar{
    width: 40%;
    height: 700px;
    margin-right: 7.5px;
    min-width: 600px;
}
.board-list table{
    width: 100%;
    border-collapse: collapse;
}
.board-list th , .board-list td {
    border: 1px solid #000;
    text-align: center; /* 수평 중앙 정렬 */
    vertical-align: middle; /* 수직 중앙 정렬 */
}
.board-list tr:hover{
    background-color: #a2bdad;
}

.board-list{
    width: 100%;
    height: 453px;
    overflow: auto;
    border: 1px solid #000;
    margin-top: 10px;
}
.board-list thead{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #000; /* 검은색 실선 테두리 */
}
/* list *//* list *//* list *//* list *//* list *//* list *//* list *//* list */

/* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 */
.board-form-ar{
    width: 40%;
    height: 700px;
    margin-left: 7.5px;
    min-width: 600px;
}
.board-form-ar1{
    width: 100%;
    height: 55px;
    border: 1px solid #000;
}
.board-form-ar2{
    width: 100%;
    height: 405px;
    border: 1px solid #000;
}
.board-form-ar3{
    width: 100%;
    height: 55px;
    border: 1px solid #000;
}
.board-content{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 0;
    outline: none;
}
/* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 *//* 글작성 */

/* detail *//* detail *//* detail *//* detail *//* detail *//* detail *//* detail *//* detail */
.board-detail-ar{
    width: 40%;
    height: 700px;
    margin-left: 7.5px;
    min-width: 600px;
    display: none;
}
.board-detail-ar1{
    width: 100%;
    height: 55px;
    display: flex;
}
.board-detail-title{
    width: 40%;
    height: 100%;
    border: 1px solid #000;
}
.board-detail-poster{
    width: 40%;
    height: 100%;
    border: 1px solid #000;
}

.board-detail-ar2{
    width: 100%;
    height: 385px;
    border: 1px solid #000;
    margin-top: 10px;
}
.board-detail-ar3{
    width: 100%;
    height: 55px;
    border: 1px solid #000;
    margin-top: 10px;
}
.board-edit-btn{
    width: 100%;
    height: 100%;
}

.board-detail-content{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 0;
    outline: none;
}

/* detail *//* detail *//* detail *//* detail *//* detail *//* detail *//* detail *//* detail */

