<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 공통 css -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!-- 공통 css -->

</head>
<body>


    <div>
       시험명 : [[${examData.fileName}]]
    </div>
    <hr>
    <div>
        년도 : [[${examData.year}]]
    </div>
    <hr>
    <div>
        타입 : [[${examData.type}]]
    </div>
    <hr>
    <div>
        필수과목 :
        <span th:each="subject : ${requiredSubjects}">
            <label th:for="${subject.id}"> [[${subject.subjectTitle}]] </label>
            [<input type="checkbox" class="requiredSubject" th:value="${subject.id}" th:id="${subject.id}" checked disabled>]
        </span>
    </div>
    <hr>
    <div id="electiveSubjectCnt" th:data-cnt="${electiveCnt}">
        선택과목 :
        <span th:each="subject : ${electiveSubjects}">
            <label th:for="${subject.id}"> [[${subject.subjectTitle}]] </label>
            [<input type="checkbox" class="electiveSubject" th:value="${subject.id}" th:id="${subject.id}" >]
            &nbsp;/&nbsp;
        </span>
         중 [[${electiveCnt}]] 과목 필수선택
    </div>
    <button type="button" id="take-exam">응시 과목 선택</button>
    <hr><hr><hr>
    응시과목 선택 버튼 누르면 아래에 해당 과목 시험지만 나오도록
    위에 년도 , 타입 정보 있으니까 그 정보로 아래에 hidden 으로 넣어줌
    아래에는 필수과목 + 선택과목에서 선택한 시험(textarea)만 동적으로 나오도록
    <hr><hr><hr>
    <form id="grading-form">
        <input type="hidden" name="type" th:value="${examData.type}"> <!--타입-->
        <input type="hidden" name="year" th:value="${examData.year}"> <!--년도-->
        <input type="hidden" name="examDataId" th:value="${examData.id}"> <!--응시한 시험id-->
        <div id="exam_question_area">

        </div>
        <input type="submit" id="grading-btn"/>

    </form>
<!-- 시험 -->
<script th:src="@{/js/view/exam/exam.js}"></script>

</body>
</html>