<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 공통 css -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!-- 공통 css -->

    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>

시험 응시 화면
<hr>
시험명 : [[${exam.title}]]
<hr>
년도 : [[${year}]]
<hr>
타입 : [[${type}]]
<hr>
필수과목 : [[${requiredSubjects}]]
<hr>
선택과목 : [[${electiveSubjects}]]/ [ [[${exam.vitalElectiveSubjectCnt}]] ]개 필수 선택
<hr>


시험지 영역

</body>
</html>