<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 공통 css -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!-- 공통 css -->

    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    <script th:src="@{/js/view/test/test.js}"></script>
</head>
<body>

    시험명 : [[${exam.examTitle}]]
    <hr>
    년도 : [[${year}]]
    <hr>
    타입 : [[${type}]]
    <hr>
    필수과목 : <span th:each="subject : ${requiredSubjects}">[ [[${subject.subjectTitle}]] <input type="checkbox" name="requiredSubjectCode" th:value="${subject.subjectCode}" checked disabled>]&nbsp;</span>
    <hr>
    선택과목 : <span th:each="subject : ${electiveSubjects}">[ [[${subject.subjectTitle}]] <input type="checkbox" class="elective-subject-checkbox" name="electiveSubjectCode" th:value="${subject.subjectCode}">]&nbsp;</span>/ [ [[${exam.vitalElectiveSubjectCnt}]] ]개 필수 선택
    <button type="button" id="select-subject-btn" th:data-elecnt="${exam.vitalElectiveSubjectCnt}">과목 선택 완료</button>
    <hr>
    <form action="/test/submit" method="post">
        <input type="hidden" name="examCode" th:value="${exam.examCode}">
        <input type="hidden" name="examType" th:value="${type}">
        <input type="hidden" name="examYear" th:value="${year}">
        <!-- textarea가 여기에 추가될 것입니다 -->
        <div id="exam-textarea-container">

        </div>
        <button type="submit" id="test-submit">답안 제출</button>
    </form>



</body>
</html>