<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Test Page</title>
</head>
<body>

<div layout:fragment="content">
<div class="test-list-area">
    <div class="test-list-div-left">
        <button type="button" class="btn btn-outline-secondary test-title shadow-sm">건강운동관리사</button>
        <div class="test-list-blank-box"></div>
        <button type="button" class="btn btn-outline-secondary test-title shadow-sm">1급 전문스포츠지도사</button>
        <button type="button" class="btn btn-outline-secondary test-title shadow-sm">2급 전문스포츠지도사</button>
        <div class="test-list-blank-box"></div>
        <button type="button" class="btn btn-outline-secondary test-title shadow-sm">1급 생활스포츠지도사</button>
        <button type="button" class="btn btn-outline-secondary test-title shadow-sm">2급 생활스포츠지도사</button>


        <button type="button" class="btn btn-outline-secondary test-title shadow-sm">1급 장애인스포츠지도사</button>
        <button type="button" class="btn btn-outline-secondary test-title shadow-sm">2급 장애인스포츠지도사</button>
        <div class="test-list-blank-box"></div>
        <button type="button" class="btn btn-outline-secondary test-title shadow-sm">유소년스포츠지도사</button>
        <div class="test-list-blank-box"></div>
        <button type="button" class="btn btn-outline-secondary test-title shadow-sm">노인스포츠지도사</button>
    </div>
    <div class="test-list-div-right" >
        <table>
            <tr>
                <th>년도</th>
                <th>타입</th>
                <th>시험명</th>
                <th>파일명</th>
                <th>모의시험</th>
            </tr>
            <tr>
                <td>2015</td>
                <td>A</td>
                <td>건강운동관리사</td>
                <td><a>파일다운로드</a></td>
                <td>시험응시버튼</td>
            </tr>
        </table>
    </div>


</div>
</div>
</body>
</html>
