/* 헤더 영역 */
.header-ar {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #d5dbd5; /* 하단 경계선 */
    display: flex;
    justify-content: space-between;
    align-items: center; /* 수직 중앙 정렬 */
}
.header-l , .header-r{
    display: flex;
    align-items: center;
}
.header-l a , .header-r a {
    margin: 0 5px;
    color: #7a7d78;
}
.header-text:hover{
    color: #00a12b;
    cursor: pointer;
}
.header-bar:hover{
    cursor: default;
}



