.test-list-area{
    width: 100%;
    height: 500px;
    justify-content: center;
    display: flex;
}
.test-list-div-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    border-right: 1px solid #d5dbd5;
}


.test-list-div-right{
    width: 50%;
    height: 95%;
    justify-content: center;
    display: flex;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
}
.test-title{
    width: 60%;
    margin-top: 7px;
}
.test-list-blank-box{
    height: 15px;
}
