.review{
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #90d699; /* 하단 경계선 */
    padding-left: 15%;
    padding-right: 15%;
    background-color: #f7c5c1;
    justify-content: center;
    align-items: center; /* 수직 중앙 정렬 */
}

.square-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #90d699;
    padding: 20px;
    height: 80%;
    background-color: #7df76f;
    text-align: center;
}