<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="content-area-4" class="content-area-4">

<div class="area-4-content">
    <div class="area-4-a">
        <div class="area-4-a-title"><h3>필기</h3></div>
        <button type="button" class="btn btn-outline-success area-4-btn">전문스포츠지도사</button>
        <button type="button" class="btn btn-outline-success area-4-btn">생활스포츠지도사</button>
        <button type="button" class="btn btn-outline-success area-4-btn">건강운동관리사</button>
        <button type="button" class="btn btn-outline-success area-4-btn">장애인스포츠지도사</button>
        <button type="button" class="btn btn-outline-success area-4-btn">유소년스포츠지도사</button>
        <button type="button" class="btn btn-outline-success area-4-btn">노인스포츠지도사</button>
    </div>
    <div class="area-4-a">
        <div class="area-4-a-title"><h3>답안</h3></div>
        <button type="button" class="btn btn-outline-info area-4-btn">전문스포츠지도사</button>
        <button type="button" class="btn btn-outline-info area-4-btn">생활스포츠지도사</button>
        <button type="button" class="btn btn-outline-info area-4-btn">건강운동관리사</button>
        <button type="button" class="btn btn-outline-info area-4-btn">장애인스포츠지도사</button>
        <button type="button" class="btn btn-outline-info area-4-btn">유소년스포츠지도사</button>
        <button type="button" class="btn btn-outline-info area-4-btn">노인스포츠지도사</button>
    </div>
</div>


</section>
</html>