<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="content-area-3" class="content-area-3">
    <div class="title-area">
            <h3 class="lecture-title">[ 최신 강의 ]</h3>
            <p class="lecture-content">설명 어쩌구 저쩌구 ......</p>
    </div>


    <div class="lecture-area d-flex">
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
    </div>



</section>
</html>