<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="content-area-4" class="content-area-4">

<div class="area-4">
    <div class="area-4-title">
        <h2> 시험을 선택해 주세요 </h2>
    </div>


    <div class="container mt-1">
        <form class="test-option-form d-flex">
            <select class="form-select test-option1">
                <option value="1" disabled selected>A/B</option>
                <option value="2">A</option>
                <option value="3">B</option>
            </select>
            <select class="form-select test-option2">
                <option value="1" disabled selected>년도</option>
                <option value="2">2015</option>
                <option value="3">2016</option>
                <option value="3">2017</option>
                <option value="3">2018</option>
            </select>
            <select class="form-select test-option3">
                <option value="1" disabled selected>시험명</option>
                <option value="2">건강운동관리사</option>
                <option value="3">1급 전문스포츠지도사</option>
                <option value="3">2급 전문스포츠지도사</option>
                <option value="3">1급 생활스포츠지도사</option>
                <option value="3">2급 생활스포츠지도사</option>
            </select>
            <button type="submit" class="btn btn-outline-primary area-4-submit">찾기</button>
        </form>
        <div class="area-4-table">
            <table class="table table-hover text-center align-middle">
                <thead class="table-title">
                <tr>
                    <th scope="col">year</th>
                    <th scope="col">title</th>
                    <th scope="col">type</th>
                    <th scope="col">test</th>
                    <th scope="col">download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2015</td>
                    <td>건강운동관리사</td>
                    <th>A</th>
                    <td>
                        <button type="button" class="btn test-btn">시험 응시</button>
                    </td>
                    <td>
                        <a class="download-test">문제</a>
                        /
                        <a class="download-test">답안</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</section>
</html>