<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="content-area-2" class="content-area-2">


    <div class="square-div">
        <a class="a-2-text">실습</a>
    </div>
    <div class="square-div">
        <a class="a-2-text">요청</a>
    </div>
    <div class="square-div">
        <a class="a-2-text">구인</a>
    </div>
    <div class="square-div">
        <a class="a-2-text">구직</a>
    </div>
    <div class="square-div">
        <a class="a-2-text">소모임</a>
    </div>



</section>
</html>