<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="content-area-5" class="content-area-5">
    <div class="area-5-content">
        <div class="area-5-title">
            <h2>시험별 응시 과목</h2>
        </div>

        <div class="area-5-sub-title">
            <div class="sub-title-area">
                <!-- 기존 form을 제거하고 AJAX를 위한 select 및 button을 사용 -->
                <select id="examSelect" class="form-select area-5-option">
                    <option value="0" disabled selected>시험명</option>
                    <option value="1">1급_전문스포츠지도사</option>
                    <option value="2">2급_전문스포츠지도사</option>
                    <option value="3">1급_생활스포츠지도사</option>
                    <option value="4">2급_생활스포츠지도사</option>
                    <option value="5">건강운동관리사</option>
                    <option value="6">유소년스포츠지도사</option>
                    <option value="7">노인스포츠지도사</option>
                    <option value="8">1급_장애인스포츠지도사</option>
                    <option value="9">2급_장애인스포츠지도사</option>
                </select>
                <button id="searchButton" class="btn area-5-submit" style="width: 75px; margin-left: 5px; padding-left: 2px; padding-right: 2px;">검색</button>

                <div class="rounded-box required-color">
                    필수
                </div>

                <div class="sub-title-content" id="requiredSubjectCount">
                    [[${requiredSubjects.size()}]]과목
                </div>

                <div class="rounded-box optional-color">
                    선택
                </div>

                <div class="sub-title-content" id="electiveSubjectCount">
                    [[${electiveSubjects.size()}]]과목
                </div>
            </div>
        </div>

        <div class="mt-1 subject-area">
            <table class="table table-bordered">
                <tbody id="subjectTableBody">
                <!-- 과목 데이터가 여기에 삽입될 예정 -->
                </tbody>
            </table>
        </div>

        <div class="subject-title">
            <h3 id="examTitle">[[${exam.examTitle}]]의 응시 과목 입니다.</h3>
        </div>
    </div>
</section>
</html>