<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="content-area-3" class="content-area-3">
    <div class="title-area">
            <h3 class="lecture-title">[ 준비중 ]</h3>
            <p class="lecture-content">현직에 종사하고 계신 선생님들의 실기(구술) 대비반, 강의, 세미나 등을 준비 중에 있습니다. 많은 관심 부탁드립니다.</p>
    </div>


    <div class="lecture-area d-flex">
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
        <div class="lecture">
            <div class="lecture-img">

            </div>
        </div>
    </div>



</section>
</html>