<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="content-area-5" class="content-area-5">
    <div class="area-5-content">
        <div class="area-5-title">
            <h2>시험별 응시 과목</h2>
        </div>

        <div class="area-5-sub-title">
            <div class="sub-title-area">
                <!-- 기존 form을 제거하고 AJAX를 위한 select 및 button을 사용 -->


            </div>
        </div>

        <div class="mt-1 subject-area">
            <table class="table table-bordered">
                <tbody id="subjectTableBody">
                <!-- 과목 데이터가 여기에 삽입될 예정 -->
                </tbody>
            </table>
        </div>

        <div class="subject-title">
            <h3 id="examTitle">[[${exam.examTitle}]]의 응시 과목 입니다.</h3>
        </div>
    </div>
</section>
</html>