<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="content-area-5" class="content-area-5">

<div class="area-5-content">
    <div class="area-5-title">
        <h2> 시험별 응시 과목 </h2>
    </div>

    <div class="area-5-sub-title">
        <div class="sub-title-area">
            <form class="d-flex area-5-form" style=" margin-right: 15px;">
                <select class="form-select area-5-option">
                    <option value="1" disabled selected>시험명</option>
                    <option value="2">건강운동관리사</option>
                    <option value="3">1급 장애인스포츠지도사</option>
                    <option value="3">2급 전문스포츠지도사</option>
                    <option value="3">1급 생활스포츠지도사</option>
                    <option value="3">2급 생활스포츠지도사</option>
                </select>
                <button type="submit" class="btn area-5-submit" style="width: 75px; margin-left: 5px; padding-left: 2px; padding-right: 2px;">찾기</button>
            </form>
            <div class="rounded-box required-color">
                필수
            </div>

            <div class="sub-title-content">
                4과목
            </div>

            <div class="rounded-box optional-color">
                선택
            </div>

            <div class="sub-title-content">
                2과목
            </div>
        </div>

    </div>

    <div style="width: 100%;" class="mt-1">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="selected-required">건강·체력 평가
                    <span style="display: inline-block; border-radius: 5px; height: 25px; background-color: #ff0f00; padding-left: 3px; padding-right: 3px; color: #ffffff;">필수</span>
                </td>
                <td>건강교육론</td>
                <td class="selected-optional">
                    기능해부학
                    <span style="display: inline-block; border-radius: 5px; height: 25px; background-color: #faac02; padding-left: 3px; padding-right: 3px; color: #ffffff;">선택</span>
                </td>
                <td>노인체육론</td>
            </tr>
            <tr>
                <td>병태생리학</td>
                <td>스포츠교육학</td>
                <td>스포츠사회학</td>
                <td>스포츠심리학</td>
            </tr>
            <tr>
                <td>스포츠영양학</td>
                <td>스포츠윤리</td>
                <td>운동부하검사</td>
                <td>운동상해</td>
            </tr>
            <tr>
                <td>운동생리학</td>
                <td>운동역학</td>
                <td>운동처방론</td>
                <td>유아체육론</td>
            </tr>
            <tr>
                <td>장애인스포츠론</td>
                <td class="selected-required">체육측정평가론
                    <span style="display: inline-block; border-radius: 5px; height: 25px; background-color: #ff0f00; padding-left: 3px; padding-right: 3px; color: #ffffff;">필수</span>
                </td>
                <td>트레이닝론</td>
                <td>특수체육론</td>
            </tr>
            <tr>
                <td>한국체육사</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="subject-title">
        <h3>건강운동관리사의 응시 과목 입니다.</h3>
    </div>


</div>
</section>
</html>