<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="main-subject-table" class="main-subject-ar">

    <div class="main-subject-form">
        <select id="subjectSelect1">
            <option value="0" disabled selected>시험명</option>
            <option th:each="exam : ${examOptions}" th:value="${exam.id}" th:text="${exam.examTitle}"></option>
        </select>
        <button id="main-subject-search-btn">검색</button>
    </div>
    <div class="main-subject-info">
        <div>
            필수
        </div>

        <div id="requiredSubjectCount">

        </div>

        <div>
            선택
        </div>

        <div id="electiveSubjectCount">

        </div>
    </div>
    <div class="main-subject-title">
        <h3 id="examTitle"></h3>
    </div>
    <table class="main-subject-table">
        <tbody id="subjectTableBody">
        <!-- 과목 데이터가 여기에 삽입될 예정 -->
        </tbody>
    </table>
</section>
</html>