<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>main</title>
</head>
<body>

<div layout:fragment="content" >

    <div class="main-content-ar-1" style="display: flex; justify-content: center;">
        <!-- 시험 목록 -->
        <th:block th:replace="~{view/main/main-exam-list :: main-exam-list}"></th:block>

        <!-- 필수 과목 -->
        <!--<th:block th:replace="~{view/main/main-subject-table :: main-subject-table}"></th:block>-->

    </div>


</div>
</body>
</html>
