<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>main</title>
</head>
<body>

<div layout:fragment="content">
    <div class="main-content-ar-1">
        <!-- 시험 목록 -->
        <th:block th:replace="~{view/main/exam-list :: exam-list}"></th:block>
        <!-- 필수 과목 -->
        <th:block th:replace="~{view/main/subject-table :: subject-table}"></th:block>
    </div>
    <div class="main-content-ar-2">
        <th:block th:replace="~{view/main/main-board-list :: main-board-list}"></th:block>
        <th:block th:replace="~{view/main/main-board-list :: main-board-list}"></th:block>
    </div>

</div>
</body>
</html>
