<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="main-board-list" class="main-board-ar">

    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>
    <div class="main-board-data"></div>


</section>