<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="main-exam-list" class="main-exam-ar">

    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->
    <div class="main-exam-form-box">
        <div class="main-exam-form-1">
            <input type="hidden" name="type" value="CONDITIONAL" id="examType1">
            <select name="year" th:field="${search.year}" id="examYear">
                <option value="1" disabled selected>년도</option>
                <option th:each="year : ${yearOptions}" th:value="${year}" th:text="${year}"></option>
            </select>

            <select id="examSelect1" name="examId" th:field="${search.examId}">
                <option value="1" disabled selected>시험명</option>
                <option th:each="exam : ${examOptions}" th:value="${exam.id}" th:text="${exam.examTitle}"></option>
            </select>
            <button type="submit" id="main-exam-search-btn1">찾기</button>
        </div>

        <div class="main-exam-form-2">
            <input type="hidden" name="type" value="ALL" id="examType2">
            <select id="examSelect2" name="examId" th:field="${search.examId}">
                <option value="1" disabled selected>시험명</option>
                <option th:each="exam : ${examOptions}" th:value="${exam.id}" th:text="${exam.examTitle}"></option>
            </select>
            <button type="submit" id="main-exam-search-btn2">찾기</button>
        </div>
    </div>
    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->

    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->
    <div class="main-exam-list">
    <table>
        <thead>
        <tr>
            <th scope="col">year</th>
            <th scope="col">title</th>
            <th scope="col">type</th>
            <th scope="col">test</th>
            <th scope="col">download</th>
        </tr>
        </thead>
        <tbody id="examListBody">

        </tbody>
    </table>
    </div>
    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->

</section>
</html>