<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="main-exam-list" class="main-exam-ar">

        <form class="main-exam-form">
            <select name="type" id="examSelect-2">
                <option value="1" disabled selected>A/B</option>
                <option th:each="type : ${typeOptions}" th:value="${type}" th:text="${type}"></option>
            </select>
            <select name="year">
                <option value="1" disabled selected>년도</option>
                <option th:each="year : ${yearOptions}" th:value="${year}" th:text="${year}"></option>
            </select>
            <select name="examId">
                <option value="1" disabled selected>시험명</option>
                <option th:each="exam : ${examOptions}" th:value="${exam.id}" th:text="${exam.examTitle}"></option>
            </select>
            <button type="submit">찾기</button>
        </form>

        <div class="main-exam-list">
        <table>
            <thead>
            <tr>
                <th scope="col">year</th>
                <th scope="col">title</th>
                <th scope="col">type</th>
                <th scope="col">test</th>
                <th scope="col">download</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>
                    <button type="button">모의시험</button>
                </td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>
                    <button type="button">모의시험</button>
                </td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>건강운동관리사</td>
                <td>A</td>
                <td>모의시험</td>
                <td>문제 / 정답</td>
            </tr>
            </tbody>
        </table>
        </div>
</section>
</html>