<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="main-subject-table" class="main-subject-ar">

    <form class="main-subject-form">
        <select>
            <option value="1" disabled selected>A/B</option>
            <option value="2">A</option>
            <option value="3">B</option>
        </select>
        <select>
            <option value="1" disabled selected>년도</option>
            <option value="2">2015</option>
            <option value="3">2016</option>
            <option value="3">2017</option>
            <option value="3">2018</option>
        </select>
        <select>
            <option value="1" disabled selected>시험명</option>
            <option value="2">건강운동관리사</option>
            <option value="3">1급 전문스포츠지도사</option>
            <option value="3">2급 전문스포츠지도사</option>
            <option value="3">1급 생활스포츠지도사</option>
            <option value="3">2급 생활스포츠지도사</option>
        </select>
        <button type="submit">찾기</button>
    </form>
    <div class="main-subject-info">

    </div>
    <table class="main-subject-table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
        </tr>
    </table>

</section>
</html>