<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="main-exam-list" class="main-exam-ar">

    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->
    <div class="main-exam-form-box">
        <form class="main-exam-form-1">
            <input type="hidden" name="type" value="CONDITIONAL">
            <select name="year" th:field="${search.year}">
                <option value="1" disabled selected>년도</option>
                <option th:each="year : ${yearOptions}" th:value="${year}" th:text="${year}"></option>
            </select>

            <select id="examSelect1" name="examId" th:field="${search.examId}">
                <option value="1" disabled selected>시험명</option>
                <option th:each="exam : ${examOptions}" th:value="${exam.id}" th:text="${exam.examTitle}"></option>
            </select>
            <button type="submit">찾기</button>
        </form>

        <form class="main-exam-form-2">
            <input type="hidden" name="type" value="ALL">
            <select id="examSelect2" name="examId" th:field="${search.examId}">
                <option value="1" disabled selected>시험명</option>
                <option th:each="exam : ${examOptions}" th:value="${exam.id}" th:text="${exam.examTitle}"></option>
            </select>
            <button type="submit">찾기</button>
        </form>
    </div>
    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->    <!-- 검색 폼 -->

    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->
    <div class="main-exam-list">
    <table>
        <thead>
        <tr>
            <th scope="col">year</th>
            <th scope="col">title</th>
            <th scope="col">type</th>
            <th scope="col">test</th>
            <th scope="col">download</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="examData : ${examDataList}">
                <td th:text="${examData.year}"></td>
                <td th:text="${#strings.substring(examData.fileName, 0, examData.fileName.length()-4)}" class="main-exam-filename"></td>
                <td th:text="${examData.type}"></td>
                <td>
                    <button type="button">모의시험</button>
                </td>
                <td>
                    <a href="#">문제</a>
                    /
                    <a href="#">정답</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->    <!-- 시험 목록 -->

</section>
</html>