<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="main-study-list" class="main-study-ar">

    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>
    <div class="main-study-data"></div>


</section>